Source: my-expense-app
Maintainer: None <None>
Section: python
Priority: optional
Build-Depends: python3-setuptools, python3-all, debhelper (>= 12)
Standards-Version: 4.7.0
Homepage: None

Package: python3-my-expense-app
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Top Tier Budgeting Program
 A top tier budgeting program that the people absolutely love.

